@import url(https://fonts.googleapis.com/css2?family=VT323);
@import url(https://fonts.googleapis.com/css2?family=Basic:wght@400);
@import url("siteassets/fonts/gmarket.otf");

:root {
    --Acc: #939499;	
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}
#linkURL {
	color: #202020;
	text-decoration: none;
}
#linkURL:hover {
	color: white;
	background: #202020;
	text-decoration: none;
}
#linkHeadURL {
	color: black;
	text-decoration: none;
}
#linkHeadURL:hover {
	color: white;
	text-decoration: none;
}
#imgHv:hover { 
    filter:  invert(0.15) brightness(1.2);
	transition: transform 0.1s ease-in-out 0ms;
	transform:translateY(0.2em);
}
#imgLv:hover { 
    filter:  invert(0.15) brightness(1.2);
}
::placeholder {
    color: white;
    opacity: 0.5;
}
.edge3d {
	position: absolute;
	height: 100%;
	width: 100%;
    box-shadow: inset 0 -0.2em 0.07em 0 #00000060;
	border-radius: 0.7em;
	z-index: 10;
	user-select: none;
	pointer-events: none;
}
.mainFrame {
	position: absolute;
	background-color: #080808;
	display: block;
	height: 286em;
	width: 58.8em;
	transform: translate(-50%, 0%);
	left: 50%;
}
.mainBanner {
	position: relative;
	background-color: #1d1d1d;
    display: inline-flex;
	border-radius: 0 0 0.7em 0.7em;
	align-items: center;
	justify-content: center;
	height: 15.5em;
	width: 100%;
	background-position: center;
	background-size: cover;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	z-index: 5;
	user-select: none;
    background-image: url(siteassets/bg_banner.webp);
    background-position: center;
    background-size: cover;
}
.bgOverlay {	
	top: 50%;
	left: 50%;
	position: fixed;
	width: 70em;
	height: 110%;
	background: #ffffff0f;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(2em);
	box-shadow: 0 0 0.2em 0 #00000070;
}
.ctWrapperL {
	background-color: #0000;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 39em;
	width: 39.9em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
	user-select: none;
}
.ctWrapperSL {
	background-color: black;
	border-radius: 0;
	display: block;
	height: 39em;
	width: 43.7em;
	float: left;
	overflow: hidden;
	user-select: none;
}
.ctWrapperSR {
	background-color: black;
	border-radius: 0;
	display: block;
	height: 39em;
	width: 43.7em;
	float: right;
	overflow: hidden;
	user-select: none;
}
.ctMenuTab {
	color: white;
	background-color: var(--Acc);
	position: absolute;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	z-index: 2;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 4px, #17171714 0, #17171714 8px);
    transition: height 0.4s ease-in-out 0s,color 0.5s ease-in-out 1.5s;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	font-family: 'gmarket sans';
}
.ctMenuTab:hover {
	height: 7.0em;
	backdrop-filter: blur(2em);
	color: #0000;
    transition: height 0.4s ease-in-out 0ms,color 0.2s ease-in-out 0s;
}
.ctWrapperV {
	background-color: #0000;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 39em;
	width: 39.9em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
}
.ctInfoboxR {
	background: #FFFFFF;
    display: inline-block;
	border-radius: 0 0 0.7em 0.7em;
    padding: 1em;
	height: 37em;
	width: 13.1em;
	overflow-wrap: break-word;
	text-align: justify;
	font-family: basic;
	line-height:1.1;
	background-image: linear-gradient(-145deg, white, #00000015);
	margin: 0 0 0 0.25em;
	overflow: clip;
	box-shadow: 0 0.45em 0.15em 0 #00000050, 0 0em 0.3em 0 #00000060, inset 0 -0.2em 0.07em 0 #00000050;
}
.ctInfoboxL {
	background: #FFFFFF;
    display: inline-block;
	border-radius: 0 0 0.7em 0.7em;
    padding: 1em;
	height: 37em;
	width: 13.1em;
	overflow-wrap: break-word;
	text-align: justify;
	font-family: basic;
	line-height:1.1;
	background-image: linear-gradient(-145deg, white, #00000015);
	margin: 0 .25em 0 0em;
	overflow: clip;
	box-shadow: 0 0.45em 0.15em 0 #00000050, 0 0em 0.3em 0 #00000060, inset 0 -0.2em 0.07em 0 #00000050;
}
.ctWrapperS1 {
	position: absolute;
	background-color: var(--Acc);
    display: flex;
	width: 58.8em;
	height: 15.5em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	align-items: center;
	justify-content: center;
	gap: 2.3em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	background-image: linear-gradient(0deg, #ffffff00, #00000090);
	z-index: -2;
	margin-top:-0.6em;
	padding: 0.6em 0 0 0;
}
.ctWrapperS2 {
	position:absolute;
	background-color: var(--Acc);
    display: flex;
	width: 58.8em;
	height: 15.5em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	align-items: center;
	justify-content: center;
	gap: 1.75em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	background-image: linear-gradient(0deg, #ffffff00, #00000090);
	z-index: -5;
	margin-top:-0.6em;
	padding: 0.6em 0 0 0;
}
.ctWrapperS3 {
	position: absolute;
	background-color: none;
    border-radius: 0 0 0.7em 0.7em;
	width: 58.8em;
	height: 17.8em;
	margin-top: -0.6em;
	user-select: none;
	z-index: -11;
}
.ctBlock {
    color: white;
    display: block;
	border-radius: 0 0 0.2em 0.2em;
	height: 3em;
	width: 13.05em;
	margin: -1em 0 0.8em 0;
	background: linear-gradient(-90deg, #00000014, #000000);
}
.ctSticker {
    color: #00000050;
	background-color: var(--Acc);
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	border-radius: 5em;
	box-shadow: 0 0 0.05em 0.01em #0000002e;
	margin: 3.4em 0 0 5.8em;
	height: 2.1em;
	width: 2.1em;
	font-size: 120%;
	font-family: 'gmarket sans', bold;
    font-weight: 900;
	padding: 0.2em 0.1em 0 0.1em;
	transform: rotate(-35deg);
	user-select: none;
}
.icoWrap {
	background: #0000;
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin: 29.3em 0 0 0em;
	gap: 0.69em;
}
/*---------------------------------------------------*/
.b1 {
	background: #1d1d1d;
    height: 3.5em;
	width: 3.1em;
	display: inline-block;
}
.b2 {
	background: #515257;
    height: 3.5em;
	width: 3.1em;
	display: inline-block;
}
.b3 {
	background: var(--Acc);
    height: 3.5em;
	width: 3.1em;
	display: inline-block;
}
.b4 {
	background: #b4b5bc;
    height: 3.5em;
	width: 3.1em;
	display: inline-block;
}
.b5 {
	background: #d8d9df;
    height: 3.5em;
	width: 3.1em;
	display: inline-block;
}


@keyframes textFade {
     0% { color: #0000;   } 
   100% { color: white; }
}
@keyframes textBlink {
     0% { color: #0000;   } 
	49% { color: #0000;   } 
    50% { color: var(--Acc);; }
   100% { color: var(--Acc);; }
}
/*---------------------------------------------------*/

.aboutInfo {
	background-color: var(--Acc);
	color: #1b1b1b;
	display: block;
	height: 21.25em;
	width: 58.8em;
	overflow: hidden;
	background-image: linear-gradient(0deg, #ffffff00, #00000025), repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 4px, #17171714 0, #17171714 8px);
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	border-radius: 0 0 0.5em 0.5em;
	position: relative;
	z-index: -8;
	padding: 0.6em 0 0 0;
	margin-top: -0.6em;
	font-weight:900;
}
.aboutAV {
	position: absolute;
	height: 6.3em;
	width: 6.3em;
	margin: 0.8em 0 0 0.8em;
	border-radius: 0.15em;
	overflow: hidden;
	box-shadow: 0.3em 0.3em 0.15em 0 #00000060, 0.07em 0.07em 0.1em 0 #00000024;
}
.aboutWorks {
	background: none;
	color: #0000;
	display: block;
	margin: 10em 0 0 0;
	overflow: hidden;
}
.aboutGallery {
	background-color: #717171;
	color: #131313;
	display: block;
	height: 10.4em;
	width: 58.8em;
	margin: -3.6em 0 -0.25em 0;
	overflow: hidden;
	background-image: url(siteassets/bg_gallery.webp);
	background-size: cover;
	background-position: center;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	border-radius: 0 0 0.5em 0.5em;
	position: absolute;
	z-index: -9;
	transition: margin 0.4s ease-in-out 0s;
	user-select: none;
}
.aboutGallery:hover {
	margin: -1.0em 0 -0.25em 0;
    transition: margin 0.4s ease-in-out 0ms;
}
.paWrapperL1 {
	background-color: #0000;
	border-radius: 0.35em;
	display: flex;
	height: 39em;
	width: 55em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
	user-select: none;
	gap: 0.25em;
}
.paOverlayL1 {
	position:absolute;
	background-color: #0000;
	color: white;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 14em;
	width: 14em;
	margin: 24em 0 0 0em;
	overflow: hidden;
	user-select: none;
	backdrop-filter: blur(1.3em);
}
.ctSpacerTab {
	color: white;
	background-color: var(--Acc);
	position: relative;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000050, 0 0em 0.3em 0 #00000060, inset 0 -0.2em 0em 0 #00000050;
	z-index: -5;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 4px, #1717171c 0, #1717171c 8px);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.ctSpacerTab2 {
	color: white;
	background-color: var(--Acc);
	position: relative;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000050, 0 0em 0.3em 0 #00000060, inset 0 -0.2em 0em 0 #00000050;
	z-index: -10;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 4px, #1717171c 0, #1717171c 8px);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.ctMainVTab {
	position: absolute;
	background-color: var(--Acc);
    display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 0.7em 0.7em;
    padding: 0.5em 0 0 0;
	height: 29.6em;
	width: 43.1em;
	background-image: linear-gradient(0deg, #ffffff00, #00000090);
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f;
	z-index: 2;
	gap: 1em;
	overflow: clip;
}
.ctSmVTab {
	position: absolute;
	background-color: var(--Acc);
    display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 0.7em 0.7em;
    padding: 0.5em 0 0 0;
	height: 27.4em;
	width: 27.3em;
	background-image: linear-gradient(0deg, #ffffff00, #00000090);
	box-shadow: 0 0.5em 0.2em 0 #00000050, 0 0em 0.3em 0 #00000060;
	z-index: 2;
}

.contactWrap {
	position: absolute;
	background-color: #6e6e6e;
	color: black;
	display: block;
	height: 34.6em;
	width: 58.8em;
	margin-top: -0.7em;
    background-image: url(siteassets/bg_contact.webp);
	background-size: cover;
	background-position: center;
	z-index: -13;
}
.contactBox {
	position: relative;
	background-color: #ffffff1f;
	border-radius: 0.3em;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 29em;
	width: 27.5em;
	margin: 3.23em 2.35em 0 0;
	overflow: hidden;
	float: right;
	backdrop-filter: blur(0.3em);
	box-shadow: 0 0 0.1em 0 #00000070, 0 0.6em 0.3em 0 #0000004d;
}
 button[type="submit"] {
    box-shadow:0 0.5em 0.5em 0 #00000031;
    width:30.5em;
    height:3em;
    resize:none;
    border:0;
    font-family:'basic';
    border-radius:0.12em;
    background-color:#ffffff82;
    cursor:pointer
}
 button[type="submit"]:hover {
    background-color:#eca21a;
}
.wrapLB {
	position: relative;
	display: flex;
	justify-content: center;
	height: 23em;
	width: 13.1em;
	margin: 2em 0 0 -0.4em;
	overflow: hidden;
	font-size: 106.5%;
}
.factsLB {
	border: 0.15em solid var(--Acc);
	position: relative;
	border-radius: 6px;
	height: 23em;
	width: 12em;
	margin: 0.5em 0em 0 0;
	overflow: hidden;
	font-family: 'gmarket sans';
	text-align: left;
	color: #1d1d1d;
}
.spLB {
	display: block;
	position: relative;
	border-radius: 0.15em;
	height: 0.5em;
	width: 11.1em;
	margin: 0.1em 0em 0.4em 0.45em;
    background-color: #1d1d1d;
}
.lineLB {
	display: block;
	position: relative;
	border-radius: 1em;
	height: 0.1em;
	width: 11.1em;
	margin: -0.1em 0em 0 0.45em;
    background-color: var(--Acc);
}
.line2LB {
	display: block;
	position: relative;
	border-radius: 1em;
	height: 0.1em;
	width: 11.1em;
	margin: 0.08em 0em 0.5em 0.45em;
    background-color: var(--Acc);
}

.infoBoxWh {
	
	display: flex;
	border-radius: 0 0 0.7em 0.7em;
	background-color: var(--Acc);
	color: white;
	position: relative;
	z-index: -7;
	margin-top: 16.3em;
	height: 39em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	background-image: linear-gradient(0deg, #ff000000, #0000008c), url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: center;
	font-family: 'gmarket sans';
	font-weight: 500;
}
.infoBoxWh2 {
	
	display: flex;
	border-radius: 0 0 0.7em 0.7em;
	background-color: var(--Acc);
	color: white;
	position: relative;
	z-index: -4;
	margin-top: 16.4em;
	height: 39em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	background-image: linear-gradient(0deg, #ff000000, #0000008c), url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: center;
	font-family: 'gmarket sans';
	font-weight: 500;
}
.infoBoxWh3 {
	
	display: flex;
	border-radius: 0 0 0.7em 0.7em;
	background-color: var(--Acc);
	color: white;
	position: relative;
	z-index: 0;
	margin-top: 1.8em;
	height: 39em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	background-image: linear-gradient(0deg, #ff000000, #0000008c), url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: center;
	font-family: 'gmarket sans';
	font-weight: 500;
}
.infoBoxWh4 {
	
	display: flex;
	border-radius: 0 0 0.7em 0.7em;
	background-color: var(--Acc);
	color: white;
	position: relative;
	z-index: -10;
	margin-top: 6.4em;
	height: 39em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	background-image: linear-gradient(0deg, #ff000000, #0000008c), url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: center;
	font-family: 'gmarket sans';
	font-weight: 500;
}
.infoBoxWh5 {
	
	display: flex;
	border-radius: 0 0 0.7em 0.7em;
	background-color: var(--Acc);
	color: white;
	position: relative;
	z-index: -12;
	margin-top: -0.6em;
	height: 19em;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	background-image: linear-gradient(0deg, #ff000000, #0000008c), url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: center;
	font-family: 'gmarket sans';
	font-weight: 500;
}
.marginTab {
	
	color: white;
	background-color: #282828;
	position: absolute;
	height: 2.4em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	z-index: -3;
	margin-top: 14.5em;
	background-image: url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: bottom;
}
.marginTab2 {
	
	color: white;
	background-color: #282828;
	position: absolute;
	height: 2.4em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	z-index: -6;
	margin-top: 14.5em;
	background-image: url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: bottom;
}
.marginTab3 {
	
	color: white;
	background-color: #282828;
	position: absolute;
	height: 2.4em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	z-index: -6;
	margin-top: 14.5em;
	background-image: url(siteassets/bg_banner.webp);
	background-size: contain;
	background-position: bottom;
}
.tearStrip {
	
	color: white;
    background: none;
	position: absolute;
	height: 5.2em;
	width: 61.8em;
	border-radius: 3.5em 0 0 3.5em;
	overflow: hidden;
	user-select: none;
	box-shadow: -0.5em 0 0.3em 0 #00000030;
	z-index: 10;
	margin: 32em 0 0 -3em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.tearStrip2 {
	
	color: white;
    background: none;
	position: absolute;
	height: 5.2em;
	width: 61.8em;
	border-radius: 3.5em 0 0 3.5em;
	overflow: hidden;
	user-select: none;
	box-shadow: -0.5em 0 0.3em 0 #00000030;
	z-index: 10;
	margin: 29.5em 0 0 -3em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.tearStrip3 {
	
	color: white;
    background: none;
	position: absolute;
	height: 5.2em;
	width: 61.8em;
	border-radius: 3.5em 0 0 3.5em;
	overflow: hidden;
	user-select: none;
	box-shadow: -0.5em 0 0.3em 0 #00000030;
	z-index: 10;
	margin: 29.5em 0 0 -3em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.RTT {
	
	color: white;
	background-color: #282828;
	position: absolute;
	height: 3.5em;
	width: 3.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	background-image: url(siteassets/bg_banner.webp);
	background-size: contain;
	margin: 29.95em 0 0 59.8em;
	border-radius: 5em;
	box-shadow: 0 0.45em 0.2em 0 #00000035, 0 0.15em 0.15em 0 #0000000f;
	transition: transform 0.3s ease-in-out 0ms, box-shadow 0.3s ease-in-out 0ms;
}
.RTT:hover {
	transition: transform 0.3s ease-in-out 0ms, box-shadow 0.3s ease-in-out 0ms;
	transform:translateY(-0.2em);
	box-shadow: 0 0.8em 0.5em 0 #00000035, 0 0.15em 0.15em 0 #0000000f;	
}
.ssWrap {
	position: relative;
	height: 16em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.45em 0.15em 0 #00000060, 0 0.15em 0.15em 0 #0000000f, inset 0 -0.12em 0.1em 0 #ffffff21;
	z-index: -12;
	margin-top: 14.5em;
	background-image:url(siteassets/clients/ss001/ss4.webp);
	background-size: cover;
	background-position: center;
}


.ptTemp {
	position: absolute;
	background: #ffffff0f;
	display: block;
	height: 50%;
	width: 100%;
	transform: translate(0, 50%);
	backdrop-filter: blur(2em);
	box-shadow:0 0 0.2em 0 #00000070;
	font-family: 'gmarket sans';
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	flex-direction: column;
}