@import url(https://fonts.googleapis.com/css2?family=VT323);
@import url(https://fonts.googleapis.com/css2?family=Syne+Mono);
@import url(https://fonts.googleapis.com/css2?family=Basic);
@import url(https://fonts.googleapis.com/css2?family=Archivo+Black);
@import url("siteassets/fonts/kinsans.otf");
@import url("siteassets/fonts/roslindale.otf");
@import url("siteassets/fonts/gmarket.otf");

:root {
  --Acc: #427572;	
}
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#linkURL {
	color: var(--Acc);
	text-decoration: none;
}
#linkURL:hover {
	color: white;
	background: var(--Acc);
	text-decoration: none;
}
#linkHeadURL {
	color: black;
	text-decoration: none;
}
#linkHeadURL:hover {
	color: white;
	text-decoration: none;
}
#imgHv:hover { 
	opacity: 1.7; 
    filter:  contrast(40%) brightness(140%);
}
::placeholder {
  color: white;
  opacity: 0.5;
}
.mainFrame {
	position: absolute;
	background-color: #080808;
	display: block;
	height: 287.9em;
	width: 58.8em;
	transform: translate(-50%, 0%);
	left: 50%;
	overflow: clip;
	box-shadow: 0 0 0.2em 0 #00000070;
}
.mainBanner {
	position: relative;
	background-color: #af9e88;
    display: inline-block;
	border-radius: 0 0 0.7em 0.7em;
	text-align: center;
	height: 15.5em;
	width: 100%;
	background-image: url(siteassets/bg_banner.webp);
	background-position: center;
	background-size: cover;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: 5;
	user-select: none;
}
.bgOverlay {	
	top: 50%;
	left: 50%;
	position: fixed;
	width: 70em;
	height: 110%;
	background: #ffffff0f;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(1.5em);
	box-shadow: 0 0 0.2em 0 #00000070;
}
.ctWrapperL {
	background-color: #0000;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 39em;
	width: 39.9em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
	user-select: none;
}
.ctWrapperSL {
	background-color: black;
	border-radius: 0;
	display: block;
	height: 39em;
	width: 43.7em;
	float: left;
	overflow: hidden;
	user-select: none;
}
.ctWrapperSR {
	background-color: black;
	border-radius: 0;
	display: block;
	height: 39em;
	width: 43.7em;
	float: right;
	overflow: hidden;
	user-select: none;
}
.ctMenuTab {
	color: white;
	background-color: var(--Acc);
	position: absolute;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: 2;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 5px, #17171712 0, #17171712 10px);
    transition: height 1s ease-in-out 0ms,color 0.5s ease-in-out 1.5s;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	cursor: pointer;
	font-family: 'gmarket sans';
}
.ctMenuTab:hover {
	height: 7.0em;
	backdrop-filter: blur(2em);
	color: #0000;
    transition: height 0.1s ease-in-out 0ms,color 0.2s ease-in-out 0s;
}
.ctWrapperV {
	background-color: #0000;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 39em;
	width: 39.9em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
}
.ctInfoboxB {
	background: #FFFFFF;
    display: inline-block;
	border-radius: 0;
    padding: 1em;
	height: 37em;
	width: 13.1em;
	overflow-wrap: break-word;
	text-align: justify;
	font-family: basic;
	line-height:1.1;
	background-image: linear-gradient(-145deg, white, #00000015);
}
.ctWrapperS1 {
	position: absolute;
	background-color: #646464;
    display: flex;
	width: 58.8em;
	height: 15.5em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	align-items: center;
	justify-content: center;
	gap: 3.0em;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	background-image: linear-gradient(0deg, #ffffff00, #00000070);
	z-index: -2;
	margin-top:-0.6em;
	padding: 0.6em 0 0 0;
}
.ctWrapperS2 {
	position:relative;
	background-color: #646464;
    display: flex;
	width: 58.8em;
	height: 15.5em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	align-items: center;
	justify-content: center;
	gap: 1.75em;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	background-image: linear-gradient(0deg, #ffffff00, #00000070);
	z-index: -4;
	margin-top:-0.6em;
	padding: 0.6em 0 0 0;
}
.ctWrapperS3 {
	position: relative;
	background-color: black;
    border-radius: 0 0 0.7em 0.7em;
    display: flex;
	width: 58.8em;
	height: 17.8em;
	margin-top: -0.6em;
	overflow: clip;
	user-select: none;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: -11;
}
.ctBlock {
    color: white;
    display: block;
	border-radius: 0 0 0.2em 0.2em;
	height: 3em;
	width: 13.05em;
	margin: -1em 0 0.8em 0;
	background: linear-gradient(-90deg, #00000014, #000000);
}
.ctSticker {
    color: #00000050;
	background-color: var(--Acc);
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	border-radius: 5em;
	box-shadow: 0 0 0.05em 0.01em #0000002e;
	margin: 3.4em 0 0 5.8em;
	height: 2.1em;
	width: 2.1em;
	font-size: 120%;
	font-family: 'gmarket sans', bold;
    font-weight: 900;
	padding: 0.2em 0.1em 0 0.1em;
	transform: rotate(-35deg);
	user-select: none;
}
.icoWrap {
	background: #0000;
    display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	margin: 29.3em 0 0 0em;
	gap: 0.69em;
}
/*---------------------------------------------------*/
.b1 {
	background: black;
    height: 3.2em;
	width: 2.62em;
	display: inline-block;
	margin: -1em 0 0.2em 0;
	border-radius: 0 0 0 0.25em;
}
.b2 {
	background: #3f3f3f;
    height: 2.62em;
	width: 2.62em;
	display: inline-block;
	margin: -1em 0 0.2em 0;
}
.b3 {
	background: #747474;
    height: 2.62em;
	width: 2.62em;
	display: inline-block;
	margin: -1em 0 0.2em 0;
}
.b4 {
	background: #afafaf;
    height: 2.62em;
	width: 2.62em;
	display: inline-block;
	margin: -1em 0 0.2em 0;
}
.b5 {
	background: #dcdcdc;
    height: 2.62em;
	width: 2.62em;
	display: inline-block;
	margin: -1em 0 0.2em 0;
	border-radius: 0 0 0.25em 0;
}


@keyframes textFade {
     0% { color: #0000;   } 
   100% { color: white; }
}
@keyframes textBlink {
     0% { color: #0000;   } 
	49% { color: #0000;   } 
    50% { color: var(--Acc);; }
   100% { color: var(--Acc);; }
}
/*---------------------------------------------------*/

.aboutInfo {
	background-color: var(--Acc);
	color: black;
	display: block;
	height: 21.1em;
	width: 58.8em;
	overflow: hidden;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 5px, #17171712 0, #17171712 10px);
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	border-radius: 0 0 0.5em 0.5em;
	position: relative;
	z-index: -7;
	padding: 0.6em 0 0 0;
	margin-top: -0.6em;
}
.aboutAV {
	position: absolute;
	height: 6.3em;
	width: 6.3em;
	margin: 0.8em 0 0 0.8em;
	border-radius: 0.15em;
	overflow: hidden;
	filter: drop-shadow(0.2em 0.2em 0.06em #00000070) blur(0.3px) contrast(1.1);
}
.aboutWorks {
	background: none;
	color: #0000;
	display: block;
	margin: 10em 0 0 0;
	overflow: hidden;
}
.aboutGallery {
	background-color: #717171;
	color: black;
	display: block;
	height: 7.2em;
	width: 58.8em;
	margin: -0.5em 0 -0.25em 0;
	overflow: hidden;
	background-image: url(siteassets/bg_gallery.webp);
	background-size: cover;
	background-position: center;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	border-radius: 0 0 0.5em 0.5em;
	position: relative;
	z-index: -8;
}
.paWrapperL1 {
	background-color: #0000;
	border-radius: 0.35em;
	display: flex;
	height: 39em;
	width: 55em;
	float: left;
	margin-left: 1.9em;
	overflow: hidden;
	user-select: none;
	gap: 0.25em;
}
.paOverlayL1 {
	position:absolute;
	background-color: #0000;
	color: white;
	border-radius: 0.35em 0 0 0.35em;
	display: block;
	height: 14em;
	width: 14em;
	margin: 24em 0 0 0em;
	overflow: hidden;
	user-select: none;
	backdrop-filter: blur(1.3em);
}
.ctSpacerTab {
	color: white;
	background-color: var(--Acc);
	position: relative;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: -5;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 5px, #17171712 0, #17171712 10px);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.ctSpacerTab2 {
	color: white;
	background-color: var(--Acc);
	position: relative;
	height: 2.8em;
	width: 58.8em;
	border-radius: 0 0 0.7em 0.7em;
	overflow: hidden;
	user-select: none;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: -10;
	margin-top: -0.5em;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 5px, #17171712 0, #17171712 10px);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.ctMainVTab {
	position: absolute;
	background:#646464;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 0.7em 0.7em;
    padding: 0.5em 0 0 0;
	height: 26.5em;
	width: 43.7em;
	background-image: linear-gradient(0deg, #ffffff00, #00000070);
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: 2;
}
.ctSmVTab {
	position: absolute;
	background:#646464;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 0.7em 0.7em;
    padding: 0.5em 0 0 0;
	height: 27.4em;
	width: 27.3em;
	background-image: linear-gradient(0deg, #ffffff00, #00000070);
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
	z-index: 2;
}

.contactWrap {
	position: relative;
	background-color: #6e6e6e;
	border-radius: 0 0 0.7em 0.7em;
	color: black;
	display: block;
	height: 34.2em;
	width: 58.8em;
	margin-top: -0.6em;
	overflow: hidden;
	box-shadow: 0 0.4em 0.2em 0 #00000070, 0 0.1em 0.1em 0 #00000045;
    background-image: url(siteassets/bg_contact.webp);
	background-size: cover;
	background-position: center;
	z-index: -13;
}
.contactBox {
	position: relative;
	background-color: #ffffff1f;
	border-radius: 0.2em;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 29.6em;
	width: 31em;
	margin: 2.6em 2em 0 0;
	overflow: hidden;
	float: right;
	backdrop-filter: blur(1.5em);
	box-shadow: 0 0 0.1em 0 #00000070, 0 0.6em 0.3em 0 #0000004d;
}
.footer {
	position: relative;
	background-color: var(--Acc);
	color: black;
	display: flex;
	justify-content: center;
	height: 3em;
	width: 58.8em;
	margin-top: -0.6em;
	overflow: hidden;
	background-image: repeating-linear-gradient(45deg, #0a0a0a00, #0a0a0a00 5px, #17171712 0, #17171712 10px);
	z-index: -14;
}